@import 'tailwindcss/base';
@import 'tailwindcss/components';
@import 'tailwindcss/utilities';
@import '@fontsource/fira-mono';

:root {
  --font-body: 'Fira Mono', monospace;
  --color-text: rgb(118, 61, 61);
  --column-width: 42rem;
  --column-margin-top: 4rem;
  font-family: var(--font-body);
  color: var(--color-text);
	font-size: 13px;
}

body {
  min-height: 100vh;
  margin: 0;
  background-attachment: fixed;
  background-color: #e3eaf2;
  -webkit-font-smoothing: antialiased;
}

h1,
h2,
p {
  font-weight: 400;
}

p {
  line-height: 1.5;
}

a {
  color: var(--color-theme-1);
  text-decoration: none;
}

a:hover {
  text-decoration: underline;
}

h1 {
  font-size: 2rem;
  text-align: center;
}

h2 {
  font-size: 1rem;
}

button:focus:not(:focus-visible) {
  outline: none;
}

textarea {
  color: black;
}